{% extends "base.html" %}

{% block content %}
<div class="row">
  <form method="post">
    <label>Sport:</label>
    <select name="sport" id="sport-dropdown">
      {% for s in sports %}
        <option value="{{s.name}}">{{s.name}}</option>
      {% endfor %}
    </select><br>
    <label>Item Name</label>
    <input type="text" name="name"><br>
    <label>Description</label>
    <textarea name="description" id="" cols="30" rows="10"></textarea>
    <input type="submit" value="Submit" class='btn btn-success'>
  </form>
</div>
{% endblock %}